<h2>Employee Confirmation</h2>
<p>You have just added the following information to the new employee databse:</p>
<p>ID: @Model.Id</p><br/>
<p>Name @Model.Name</p><br/>
<p>Salary: $@Model.Salary</p><br/>

